html,
body {
    min-height: 95vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#212A31, #2E3944);
}

h1, h2 {
    color: #D3D9D4;
}

.scores {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-height: 50%;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.rules {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    max-height: 10vh;
}

.score-counts {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-height: 15vh;
    width: 100%;
    gap: 20px;
    background-color: #748D92;
}

.player-score {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.computer-score {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.result {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.selection-area {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.selection-images {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

img {
    border: 2px solid black;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
}

img:hover {
    box-shadow: 10px 10px 20px #D3D9D4;
    width: 160px;
    height: 160px;
}

